<%- model_class = Meeting -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:time) %></th>
      <th><%= model_class.human_attribute_name(:city_id) %></th>
      <th><%= model_class.human_attribute_name(:paper_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= link_to meeting.id, meeting_path(meeting) %></td>
        <td><%= meeting.date %></td>
        <td><%= meeting.time %></td>
        <td><%= meeting.city_id %></td>
        <td><%= meeting.paper_id %></td>
        <td><%=l meeting.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
