<h1>Listing meetings</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>City</th>
    <th>Paper</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.date %></td>
    <td><%= meeting.time %></td>
    <td><%= meeting.city %></td>
    <td><%= meeting.paper %></td>
    <td><%= link_to 'Show', meeting %></td>
    <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
    <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting', new_meeting_path %>
