<h1>Listing meetings</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>City</th>
    <th>Paper</th>
    <th></th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.date %></td>
    <td><%= meeting.time %></td>
    <td><%= meeting.city %></td>
    <td><%= meeting.paper %></td>
    <td><%= link_to 'Show', meeting %></td>
  </tr>
<% end %>
</table>
