<p>
  <b>Date:</b>
  <%= @meeting.date %>
</p>

<p>
  <b>Time:</b>
  <%= @meeting.time %>
</p>

<p>
  <b>City:</b>
  <%= @meeting.city %>
</p>

<p>
  <b>Paper:</b>
  <%= @meeting.paper %>
</p>

<%= link_to 'Back', meetings_path %>
