<%- model_class = Paper -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= link_to paper.id, paper_path(paper) %></td>
        <td><%= paper.title %></td>
        <td><%= raw paper.description %></td>
        <td><%=l paper.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
