<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "AI Winter" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%#= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%#= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%#= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%#= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%#= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">
            AI Winter
          </a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to "Papers", "/papers"  %></li>
              <li><%= link_to "Meetings", "/meetings"  %></li>
              <li><%= link_to "Cities", "/cities"  %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="container">
  <div class="row">
    <div class="span12 ">
      <div class="hero-unit">

        <h1>
          <%= link_to image_tag("AI_Winter_Logo_blue_snow_small.png", :alt => "AI Winter"), "/" %>
          <small>an inter-city, bi-weekly, programming study group</small>
        </h1>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="span8">

        <div class="row">

          <p class="lead">
            Do you think neural nets and machine learning sound super cool?
          </p><p>
            But you never have time
            to study it? Us, too -- that's why Philly Lambda is hosting <strong>AI Winter</strong>.
          </p>
          <p>
            Last fall, our local functional programming meetup ran an experiment. We love functional
            programming, and we know that <a href="http://www.federicopereiro.com/masters/">reading
              the masters</a> is an incredible learning
            experience, but we never had the time or motivation to study all the famous whitepapers.
          </p>
          <p class = "lead">
            So we hosted Functional Fall.
          </p>
          <p>
            Functional Fall was a 3 month, bi-weekly programming study group. Every two weeks,
            we read a famous paper, then met for 2 hours at our local user group to
            <a href="http://www.dustingetz.com/2011/11/18/philly-functional-fall-notes-mccarthy-lisp-paper.html">
            talk about it.</a>
            Functional Fall was a <strong>resounding success</strong>.
          </p>
          <p class = "lead">
            Now, we bring you: <strong>AI Winter</strong>, a 3 month, bi-weekly study group, coming
            to cities all over in January 2013!
          </p>

        </div>

    </div>
    <div class="span4">
      <div>
        <blockquote>
          <p>
            &quot;Abel changed the face of mathematics, despite dying at 27... When asked
            how he developed his mathematical abilities so rapidly, he replied,
          </p>
          <blockquote>&quot;by studying the masters, not their pupils.&quot;</blockquote>
          <p>&quot;By studying the masters, not their pupils.&quot;</p>
          <small>
            Federico Pereiro in
            <cite title="Read the Masters">
              <a href="http://www.federicopereiro.com/masters/">Read the Masters</a>
            </cite>
          </small>
        </blockquote>
      </div>
      <hr>
      <div>
        <blockquote>
          <p>
            &quot;Dude, Functional Fall was f*cking <em>awesome</em>!!!!!!!1!
          </p>
          <small>
            A Real Person in
            <cite title="Made Up Quote">
              Made Up Quote
            </cite>
          </small>

        </blockquote>
      </div>

    </div>
    <hr>
  </div>

  <div class="row">
    <div class="span12">
      <div>
        <%= bootstrap_flash %>
        <%= yield %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
      <div class="span8 offset2">
        <h4>
          Get your city involved
        </h4>
        <p>
          Do you think your local programming meetup is interested? Great! We need your help...
          Forward this website to the mailing list for the group you think is most interested.
          If there is interest, have your group organizer contact us by email: aiwinter.organizer@gmail.com. We'll get you
          listed on the site and we'll start pre-screening papers.
        </p>
        <a href="mailto:aiwinter.organizer@gmail.com?subject=aiwinter%20in%20my%20city" class="btn btn-primary btn-large">
          My meetup wants in!
        </a>
      </div>

  </div><!-- row -->

  </div><!--/row-->
<hr>


      <footer>
        <p>&copy; AI Winter 2012-2013 under Apache License 2.0. Logo design by <%= link_to "Signe Rose Designs", "http://signerosedesigns.com/" %>.</p>
      </footer>


</div>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
